.footerGlobal {
  display: flex;
  background-color: #c8d4ed;
  border: 1px solid  #387EF5;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .6);
  position: fixed;
  bottom: 40px;
  right: 40px;
  max-width: 600px;
  align-items: flex-start;
}
.footerGlobal img {
  margin: auto 0;
  margin-right: 20px;
}

 .hintIcon{
  border-radius: 50%;
  display: block;
  text-align: center;
  background-color: #387EF5;
  color: white;
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  width: 80px;
  margin-right: 16px;
}